<h1>Tasks#index</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.description %>
      <% if current_user.done?(task) %>
        <%= button_to "not yet", task_completions_path(task), data: { turbo_method: :delete } %>
      <% else %>
        <%= button_to "done", task_completions_path(task) %>
      <% end %>
    </li>
  <% end %>
</ul>
