<% if page.current? %>
  <li class="page-item">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link link-light', style: "background: black" %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link link-secondary' %>
  </li>
<% end %>
